<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskMinder</title>
  <link rel="stylesheet" href="task.css">
  <link rel="icon" type="image/x-icon" href="logo_final.png">
 
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css" integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <!--boxicons-->
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>
  <nav>
    <img src="logo_and_title-removebg.png">
    <ul>
      <li><a href="#" onclick="document.getElementById('logout-form').submit()">Logout</a></li>
      <li><a href="/tasks/add">Add Task</a></li>
      <li>Welcome, <%= user.name %></li>
    </ul>
    <form id="logout-form" action="/logout" method="post"></form>
  </nav>

  <div class="container">
    <div class="left-side">
      <div class="icons">
        <!-- Add your icons here -->
      </div>
      <h1>Task List</h1>
    </div>

    <div class="middle-box">
      <section>
        <% if (tasks.length > 0) { %>
        <ul class="task-list">
          <% tasks.forEach(function(task) { %>
          <li>
            <div class="task-box">
                <div class="task-info">
                  <h3><%= task.task_name %></h3>
                  <% if (task.task_description) { %>
                  <p><%= task.task_description %></p>
                  <% } %>
                  <p>Last edited: <%= task.task_createdAt.toLocaleTimeString() %>, <%= task.task_createdAt.toLocaleDateString("en-US", { weekday: 'long' }) %>, <%= task.task_createdAt.toLocaleDateString("en-US", { year: 'numeric', month: 'long', day: 'numeric' }) %></p>
              </div>
              <div class="task-actions">
                  <div class="dropdown-menu">
                    <a class="dropdown-item update" href="/tasks/<%= task.task_id %>/edit">Update</a>
                    <a class="dropdown-item delete" href="/tasks/<%= task.task_id %>/delete">Delete</a>
                </div>
              </div>
            </div>
          </li>
          <% }) %>
        </ul>
        <% } else { %>
        <p>No tasks found.</p>
        <% } %>
      </section>
    </div>

    <div class="right-side">
      <div class="user-info">
        <div class="user-logo">
          <img src="only logo.png" alt="User Logo">
        </div>
        <div class="user-details">
          <h4><%= user.name %></h4>
          <p><%= user.email %></p>
        </div>
      </div>
      <div class="welcome-text">
        <p>Welcome to TaskMinder!</p>
      </div>
    </div>
    </div>

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script type="module">
    
  </script>
</body>
</html>
