<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>TaskMinder</title>
  <link rel="stylesheet" href="task.css">
  <link rel="icon" type="image/x-icon" href="logo_final.png">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta2/css/all.min.css"integrity="sha512-YWzhKL2whUzgiheMoBFwW8CKV4qpHQAEuvilg9FAn5VJUDwKZZxkJNuGM4XkWuk94WCrrwslk8yWNGmY1EduTA=="crossorigin="anonymous" referrerpolicy="no-referrer" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
</head>

<body>

  <div class="container">
    <div class="left-side">
      <img src="logo_and_title-removebg.png">
      <button class="btn" id="add-task-button"><i class="fas fa-plus"></i></button>
      <form action="/logout" method="POST">
        <input type="hidden" name="token" value="<%= user.token %>">
        <button class="logoutbtn" id="logout-button"><i class="fas fa-sign-out-alt"></i></button>
      </form>
      <section class="completed-tasks">
        <h3 class="ctask-heading">Completed Tasks&nbsp<i class="fas fa-chevron-down"></i></h3>
        <div class="ctask-list">
          <% tasks.forEach(function(task) { %>
            <% if (task.task_completed) { %>
              <p><%= task.task_name %></p>
            <% } %>
          <% }) %>
        </div>
      </section>
    </div>
    
    <div class="middle-box">
      <% tasks.sort((a, b) => new Date(b.task_updatedAt) - new Date(a.task_updatedAt)); %>
      <section>
        <% if (tasks.length > 0) { %>
        <ul class="task-list">
          <% tasks.forEach(function(task) { %>
          <% if (!task.task_completed) { %>
          <li>
            <div class="task-box">
              <div class="task-info">
                <input type="checkbox" class="task-checkbox" id="task-<%= task.task_id %>" <%= task.task_completed ? 'checked' : '' %> onclick="updateTaskStatus('<%= task.task_id %>')">
                <label for="task-<%= task.task_id %>"></label>
    
                <h3><%= task.task_name %></h3>
                <% if (task.task_description != 0) { %>
                  <p class="taskDescription"><%= task.task_description %></p>
                <% } else { %>
                <p>No description</p>
                <% } %>
                <p class="et">Last edited: <%= task.task_updatedAt.toLocaleString('en-US') %></p>
              </div>
              <div class="task-actions">
                <div class="dropdown-menu">
                  <button type="button" class="dropdown-item view" onclick="showViewPopup('<%= task.task_id %>', '<%= task.task_name %>', '<%= task.task_description %>')">
                    <i class="fas fa-eye"></i>
                  </button>  
                  <button type="button" class="dropdown-item edit" onclick="showUpdatePopup('<%= task.task_id %>', '<%= task.task_name %>', '<%= task.task_description %>')">
                    <i class="fas fa-pencil-alt"></i>
                  </button>                  
                  <form action="/tasks/delete/<%= task.task_id %>" method="POST" onsubmit="return confirmDelete(event);">
                    <button type="submit" class="dropdown-item delete"><i class="fas fa-trash"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </li>
          <% } %>
          <% }) %>
        </ul>
        <% } else { %>
        <p class="no-tasks">No tasks remaining</p>
        <% } %>
      </section>
    </div>
    <div class="right-side">
      <div class="user-info">
        <div class="user-logo">
          <img src="only logo.png" alt="User Logo">
        </div>
        <div class="user-details">
          <h4><%= user.name %></h4>
          <p><%= user.email %></p>
        </div>
      </div>
      <div role="progressbar" aria-valuenow="<%= completionRatio %>" aria-valuemin="0" aria-valuemax="100" style="--value:<%= completionRatio %>">
      </div>
      
      
      <div class="task-boxes">
        <div class="task-boxx">
          <h5>Total</h5>
          <p><%= totalTasksCount %></p>
        </div>
        <div class="task-boxxx">
          <h5>Completed</h5>
          <p><%= completedTasksSum %></p>
        </div>
      </div>

  </div>

  <div class="popup-container" id="task-popup" style="display: none;">
    <div class="task-popup-content">
      <span class="close" id="close-modal" onclick="closePopUp()">&times;</span>
      <h2>Add Task</h2>
      <form id="add-task-form">
        <label for="task-name">Task Name:</label>
        <input type="text" id="task-name" name="task_name" required>
        <label for="task-description">Task Description:</label>
        <textarea id="task-description" name="task_description"></textarea>
        <button type="button" class="btn" id="add-task-button-popup">Add</button>
      </form>
    </div>
  </div>
  <div class="popup-container" id="udtask-popup" style="display: none;">
    <div class="udtask-popup-content">
      <span class="close" id="close-modal" onclick="closePopUp()">&times;</span>
      <h2>Update Task</h2>
      <form id="update-task-form">
        <input type="hidden" id="update-task-id" name="task_id">
        <label for="update-task-name">Task Name:</label>
        <input type="text" id="update-task-name" name="task_name" required>
        <label for="update-task-description">Task Description:</label>
        <textarea id="update-task-description" name="task_description"></textarea>
        <button type="button" class="btn" id="update-task-button-popup" onclick="updateTask()">Update</button>
      </form>
    </div>
  </div>
  <div class="popup-container" id="view-task-popup" style="display: none;">
    <div class="view-task-popup-content">
      <span class="close" id="close-modal" onclick="closePopUp()">&times;</span>
      <h2>Task Details</h2>
      <form id="update-task-form">
        <input type="hidden" id="view-task-id" name="task_id">
        <label for="view-task-name">Task Name:</label>
        <input type="text" id="view-task-name" name="task_name" required readonly>
        <label for="view-task-description">Task Description:</label>
        <textarea id="view-task-description" name="task_description" readonly></textarea>
      </form>
    </div>
  </div>
  
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <script>
   $(document).ready(function() {
  $('.ctask-heading').click(function() {
    $('.ctask-list').slideToggle();
  });
});

function fetchTasks() {
  fetch('/tasks')
    .then((response) => {
      if (!response.ok) {
        throw new Error('Failed to fetch tasks from the server');
      }
      return response.json();
    })
    .then((tasks) => {
      // Populate the taskList array with the fetched tasks
      taskList = tasks;

      // Call any other functions or perform additional operations with the taskList array
      console.log(taskList);

      // Calculate the progress ratio
      const completedTasks = taskList.filter(task => task.task_completed);
      const completedRatio = completedTasks.length / taskList.length;
      const progressBar = document.querySelector('.right-side div[role="progressbar"]');
      progressBar.style.setProperty('--value', `${completedRatio * 100}%`);
    })
    .catch((error) => {
      console.error('Error fetching tasks:', error);
    });
}

// Call the fetchTasks function to retrieve tasks from the server
fetchTasks();

// Update the task status in the database when the checkbox is clicked
function updateTaskStatus(taskId) {
  const checkbox = document.getElementById(`task-${taskId}`);
  const completed = checkbox.checked;

  fetch(`/tasks/complete/${taskId}`, {
    method: 'POST',
    headers: {
      'Content-Type': 'application/json',
    },
    body: JSON.stringify({ completed }),
  })
    .then((response) => {
      if (response.ok) {
        console.log(`Task ${taskId} updated successfully.`);
        location.reload();
      } else {
        console.error(`Failed to update task ${taskId}.`);
      }
    })
    .catch((error) => {
      console.error(`Error updating task ${taskId}:`, error);
    });
}
  const addButton = document.getElementById('add-task-button');
    const taskPopup = document.getElementById('task-popup');
    const addTaskButtonPopup = document.getElementById('add-task-button-popup');
    const closeTaskPopup = document.getElementById('close-modal');
    const updateTaskButtonPopup = document.getElementById('update-task-button-popup');
  
    addButton.addEventListener('click', function () {
      taskPopup.style.display = 'block';
    });
  
    addTaskButtonPopup.addEventListener('click', function() {
      var taskName = document.getElementById('task-name').value;
      var taskDescription = document.getElementById('task-description').value;
      var userId = "<%= user.id %>";
  
      var task = {
        taskName: taskName,
        taskDescription: taskDescription,
        userId: userId 
      };
  
      fetch('/addtask', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(task)
      })
        .then(response => {
          if (response.ok) {
            console.log('Task added successfully');
            window.location.reload();
          } else {
            console.error('Error adding task:', response.status);
          }
        })
        .catch(error => {
          console.error('Error adding task:', error);
        });
  
      taskPopup.style.display = 'none';
    });
  
    function confirmDelete(event) {
      if (!confirm('Are you sure you want to delete this task?')) {
        event.preventDefault();
      }
    }
  
    function showUpdatePopup(taskId, taskName, taskDescription) {
    document.getElementById('update-task-id').value = taskId;
    document.getElementById('update-task-name').value = taskName;
    document.getElementById('update-task-description').value = taskDescription;
  
    document.getElementById('udtask-popup').style.display = 'block';
  }
  function showViewPopup(taskId, taskName, taskDescription) {
    document.getElementById('view-task-id').value = taskId;
    document.getElementById('view-task-name').value = taskName;
    document.getElementById('view-task-description').value = taskDescription;
  
    document.getElementById('view-task-popup').style.display = 'block';
  }
    updateTaskButtonPopup.addEventListener('click', function() {
      var updateTaskId = document.getElementById('update-task-id').value;
      var updateTaskName = document.getElementById('update-task-name').value;
      var updateTaskDescription = document.getElementById('update-task-description').value;
  
      var updatedTask = {
        task_id: updateTaskId,
        task_name: updateTaskName,
        task_description: updateTaskDescription
      };
  
      fetch('/tasks/edit/' + updateTaskId, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
        body: JSON.stringify(updatedTask)
      })
        .then(response => {
          if (response.ok) {
            console.log('Task updated successfully');
            window.location.reload();
          } else {
            console.error('Error updating task:', response.status);
          }
        })
        .catch(error => {
          console.error('Error updating task:', error);
        });
  
      var updateTaskPopup = document.getElementById('udtask-popup');
      updateTaskPopup.style.display = 'none';
    });
    function closePopUp() {
    var taskPopup = document.getElementById('task-popup');
    var updateTaskPopup = document.getElementById('udtask-popup');
    var viewTaskPopup = document.getElementById('view-task-popup');

    taskPopup.style.display = 'none';
    updateTaskPopup.style.display = 'none';
    viewTaskPopup.style.display = 'none';
  }
  const taskDescriptions = document.querySelectorAll('.taskDescription');

taskDescriptions.forEach(description => {
  const fullDescription = description.nextElementSibling;
  const readMoreLink = description.nextElementSibling.nextElementSibling;

  const maxCharacters = 100;
  const truncatedDescription = description.textContent.trim().substring(0, maxCharacters);

  description.textContent = truncatedDescription;

  if (truncatedDescription.length < description.textContent.trim().length) {
    readMoreLink.style.display = 'inline';

    readMoreLink.addEventListener('click', function(event) {
      event.preventDefault();
      description.classList.add('hide');
      fullDescription.classList.remove('hide');
      readMoreLink.style.display = 'none';
    });
  }
});
  </script>
  
</body>

</html>